<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>New youtube videos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='youtube.css') }}" />
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            {% for item in data %}
                {% if loop.index % 6 == 0 or loop.first %}<div class="row">{% endif %}
                <div class="col-sm-2 text-center item" title="{{ item['description'] }}">
                    <a href="https://www.youtube.com/watch?v={{ item['id'] }}" target="_blank">
                        <div class="thumbnail">
                            <span class="duration">{{ item['duration'] }}</span>
                            <img src="{{ item['thumbnail']['hqDefault'] }}" />
                        </div>
                    </a>
                    <div class="title text-left" title="{{ item['title'] }}">
                        <small>
                        {{ item['title'][:40] }}
                        {% if item['title']|length > 40 %}...{% endif %}
                        </small>
                    </div>
                    <div class="text-right pull-right text-muted">
                        <small class="uploaded" data-uploaded="{{ item['uploaded'] }}" title="{{ item['uploaded'].strftime('%Y-%m-%d %H:%M') }}">
                        {{ item['uploaded'].strftime('%d-%m %H:%M') }}
                        </small>
                        <br />
                        <small class="viewcount">
                        {% if item['viewCount'] %}
                            {{ item['viewCount'] }}
                        {% else %}
                            ?
                        {% endif %}
                        views
                        </small>
                    </div>
                    <div class="uploader text-left">
                        <a href="http://www.youtube.com/user/{{ item['uploader'] }}/videos" target="_blank">
                            {{ item['uploader'] }}
                        </a>
                        <br />
                        <small>
                        Rating:
                        {% if item['rating'] %}
                            {{ item['rating']|round(1) }}
                        {% else %}
                            ?
                        {% endif %}
                        </small>
                    </div>
                </div>
                {% if (loop.index % 6 == 0 and not loop.first) or loop.last %}</div>{% endif %}
            {% endfor %}
        </div>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='youtube.js') }}"></script>
    </body>
</html>